@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.projectCard:hover img {
  transform: scale(1.05);
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 0% { opacity: 0; }
  }

  @keyframes scrollTech {
    00% { transform: translateX(0); }
    50% { transform: translateX(50%); }
  }

  a:hover {
    color: #00aaff;
  }